<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Dashboard </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <div class="logo__title">
      <div class="image__bundle">
        <a id="title" href="/"><img src="/static/smart.svg"></a>
      </div>
      <div class="title__bundle">
        <h1>Air quality I.O.T system </h1>
      </div>
    </div>
    <div class="nav__bar">
      <nav>
        <a id="db"href="database">database</a>
        <a id="dsh"href="dashboard">dashboard</a>
      </nav>
    </div>
  </header>
  <main>
    <section class="graph__viz">
    <div class="wrapper">
      <h4>Time series</h4>
      <canvas id="lineChart"></canvas>
    </div>
    <div class="wrapper">
      <h4>Averages</h4>
      <canvas id="pieChart"></canvas>
    </div>
    </section>
  </main>
  <footer>
    <section class="footer">
      Author : Matias henriquez
    </section>
  </footer>
</body>
<script type="text/javascript" >


var temperature = [{% for i in temp %}
                      "{{i}}",
                   {% endfor %}];

var humidity = [{% for i in hum %}
                      "{{i}}",
                   {% endfor %}];

var co2_level = [{% for i in co2 %}
                      "{{i}}",
                {% endfor %}];

                var data =  {  labels : [{% for dt in time_base %}
                                          "{{dt}}",
                                        {% endfor %}],

                             datasets : [{label : "Temperature",
                                          data : temperature,
                                          fill : true,
                                          backgroundColor: "rgba(255, 0, 0, 0.2)",
                                          lineTension: 0.5,
                                          borderColor: "rgba(255, 0, 19, 1)",
                                          pointBorderColor: "rgba(255, 0, 19, 1)",
                                          pointBackgroundColor: "#FF0000",
                                          pointBorderWidth: 1,
                                          pointHoverRadius: 2,
                                          pointHoverBackgroundColor: "rgba(255, 0, 19, 0.4)",
                                          pointHoverBorderColor: "rgba(255, 0, 19, 0.4)",
                                          pointHoverBorderWidth: 2,
                                          pointRadius: 2,
                                          pointHitRadius: 5},

                                          {label : "Humidity",
                                          data : humidity,
                                          fill: true,
                                          backgroundColor:"rgba(75,192,192,0.2)",
                                          lineTension: 0.5,
                                          borderColor: "rgba(75,192,192,1)",
                                          pointBorderColor: "rgba(75,192,192,1)",
                                          pointBackgroundColor: "rgba(75,192,192,1)",
                                          pointBorderWidth: 1,
                                          pointHoverRadius: 2,
                                          pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                          pointHoverBorderColor: "rgba(75,192,192,1)",
                                          pointHoverBorderWidth: 2,
                                          pointRadius: 2,
                                          pointHitRadius: 5},

                                          {label : "Co2",
                                          data : co2_level,
                                          fill: true,
                                          backgroundColor : "rgba(0,255,0,0.2)",
                                          lineTension: 0.5,
                                          borderColor: "rgba(0,255,0,1)",
                                          pointBorderColor: "rgba(0,255,0,1)",
                                          pointBackgroundColor: "#00FF00",
                                          pointBorderWidth: 1,
                                          pointHoverRadius: 2,
                                          pointHoverBackgroundColor: "rgba(255,255,0,1)",
                                          pointHoverBorderColor: "rgba(255,255,0,1)",
                                          pointHoverBorderWidth: 2,
                                          pointRadius: 2,
                                          pointHitRadius: 5}]}


                var statistics = {
                                  labels: ['Avg. temp. °C', 'Avg. hum. %', 'Avg. Co2 level'],
                                  datasets: [{
                                      label: 'Averages of last 15 regs',
                                      data: [{% for s in stats %}"{{s}}",{% endfor %}],
                                      backgroundColor: [
                                          'rgba(255, 0, 0, 0.8)',
                                          "rgba(75,192,192,0.8)",
                                          "rgba(0,255,0,0.8)",

                                      ],
                                      borderColor: [
                                        'rgba(255, 0, 0, 0.8)',
                                        "rgba(75,192,192,0.8)",
                                        "rgba(0,255,0,0.8)",

                                      ],
                                      borderWidth: 3
                                  }]
                              }


                const options =  {
                  plugins: {
                       legend: {
                           labels: {
                               font: {
                                   size: 12
                               }
                           }
                       }
                   }
                 }

                var ctx1 = document.getElementById('lineChart').getContext('2d');

                var ctx2 = document.getElementById('pieChart').getContext('2d');


                var lineChart = new Chart(ctx1,{

                    type : 'line',

                    data : data,

                    options : options});


                var pieChart = new Chart(ctx2,{

                    type : 'pie',

                    data : statistics,

                    options : options});

</script>
</html>

