<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Database </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <div class="title__bundle">
      <img id="image" src="/static/smart.svg">
      <h1 id="title"> Air quality I.O.T system </h1>
    </div>
    <div class="nav__bar">
      <nav>
        <ul id="menu__bar">
          <li><a href="database">database</a></li>
          <li><a href="dashboard">dashboard</a></li>
          <li><a href="/"> principal </a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="data__table">
    <table id="data">
      <thead>
        <th> ID </th>
        <th> TEMPERATURE </th>
        <th> HUMIDITY </th>
        <th> CO2 </th>
        <th> DATE-TIME </th>
      </thead>
      <tbody>
        {% for i in range(db['id'] | length) %}
          <tr>
               <td> {{ db['id'][i]   }} </td>
               <td> {{ db['temp'][i] }} </td>
               <td> {{ db['hum'][i]  }} </td>
               <td> {{ db['co2'][i]  }} </td>
               <td> {{ db['datm'][i] }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</body>
</html>
