<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Database </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <div class="logo__title">
      <div class="image__bundle">
        <img src="/static/smart.svg">
      </div>
      <div class="title__bundle">
        <a id="title" href="/"><h1>Air quality I.O.T system </h1></a>
      </div>
    </div>
    <div class="nav__bar">
      <nav>
        <a id="db"href="database">database</a>
        <a id="dsh"href="dashboard">dashboard</a>
      </nav>
    </div>
  </header>
  <main>
      <table>
        <thead>
          <th> TEMPERATURE (°C)</th>
          <th> HUMIDITY (%)</th>
          <th> CO2 level</th>
          <th> DATE-TIME </th>
        </thead>
        <tbody>
          {% for i in range(data | length) %}
             <tr>
              <td>{{ data[i].get("TEMPERATURE") }}</td>
              <td>{{ data[i].get("HUMIDITY") }}</td>
              <td>{{ data[i].get("CO2") }}</td>
              <td>{{ data[i].get("DATE-TIME") }}</td>
             </tr>
           {% endfor %}
        </tbody>
      </table>
  </main>
  <footer>
    <div class="footer">
      <hr>
      Copyright @2021  |  Designed by Matias henriquez
      <hr>
    </div>
  </footer>
</body>
</html>
