<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Air quality </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <div class="logo__title">
      <div class="image__bundle">
        <img src="/static/smart.svg">
      </div>
      <div class="title__bundle">
        <a id="title" href="/"><h1>Air quality I.O.T system </h1></a>
      </div>
    </div>
    <div class="nav__bar">
      <nav>
        <a id="db"href="database">database</a>
        <a id="dsh"href="dashboard">dashboard</a>
      </nav>
    </div>
  </header>
  <main>
    <article class="info">
      <h1>This Proyect</h1>
      <p>
        This web corresponds to the result of a university project of the <strong>data networks course</strong> given at the andres bello university,
        which consists of making an <strong>I.O.T. application</strong> using the knowledge acquired about networks and internet.
        the application consists of a system in charge of <strong>monitoring the air quality of an enclosure</strong>, whether domestic, industrial, etc.
        The variables to be monitored are temperature, humidity and carbon dioxide present in the air of the place, also, it sends a message to your email
        when temperature theshold it's overflowed.
       </p>
    </article>
    <div class="diagram">
      <div class="schema">
        Proyect schema
      </div>
      <img src="/static/diagram.jpeg" alt="iot" width="100%" height="100%">
    </div>
    <article class="techs">
      <div class="subtitle">
        Technologies used
      </div>
      <div class="usedtechs">
        <ul id="list">
          <li>
            <a href="https://www.python.org/">Python 3</a><img class="python"src="/static/piton.png" width="24px" height="24px"alt="python">
            <ul>
              <li><a href="https://flask.palletsprojects.com/en/2.0.x/" alt="flask">Flask</a> <img src="/static/chilli.png" alt="chilli"> </li>
            </ul>
          </li>
          <li><a href="https://www.raspberrypi.com/">Raspberry pi 4 model B</a><img src="/static/raspberry-pi.png" alt="raspberry"></li>
          <li><a href="https://www.arduino.cc/">Arduino mega 2560</a><img src="/static/motherboard.png" alt="arduino"></li>
          <li><a href="https://www.mongodb.com/atlas/database">Mongodb atlas</a><img src="/static/database.png" alt="mongodb"></li>
          <li><a href="https://www.chartjs.org/">Chart js</a> <img src="/static/pie-chart.png" alt="chartjs"> </li>
        </ul>
      </div>
    </article>
  </main>
  <footer>
    <div class="footer">
      <hr>
      Copyright @2021  |  Designed by Matias henriquez
      <hr>
    </div>
  </footer>
</body>
</html>
