<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Air quality </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <div class="logo__title">
      <div class="image__bundle">
        <a id="title" href="/"><img src="/static/smart.svg"></a>
      </div>
      <div class="title__bundle">
        <h1>Air quality I.O.T system </h1>
      </div>
    </div>
    <div class="nav__bar">
      <nav>
        <a id="db"href="database">database</a>
        <a id="dsh"href="dashboard">dashboard</a>
      </nav>
    </div>
  </header>

  <main>

  <section>
    <article class="info">
      <h1>This Proyect</h1>
      <p>
        This web corresponds to the result of a university project of the <strong>data networks course</strong> given at the andres bello university,
        which consists of making an <strong>I.O.T. application</strong> using the knowledge acquired about networks and internet.
        the application consists of a system in charge of <strong>monitoring the air quality of an enclosure</strong>, whether domestic, industrial, etc.
        The variables to be monitored are temperature, humidity and carbon dioxide present in the air of the place,
        as well as a machine learning model is integrated to make predictions and feedback the system with respect to the patterns learned with the data once stored,
        this feedback affects to operate a device remotely, so that it can, in addition to monitoring,
        <strong>control the air quality in the place</strong> with respect to what is inferred from the data obtained from the sensors.
       </p>
    </article>
  </section>

  <section>
    <div class="diagram">
      <h3>Proyect diagram</h3>
      <img src="/static/diagram.jpeg" alt="iot" width="100%" height="100%">
    </div>
  </section>

  <section>
    <article class="tech">
      <h3>Technologies used</h3>
      <ul>
        <li>
          <h2>Python 3 <img src="/static/piton.png" alt="python"> </h2>
          <ul>
            <li> <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a></li>
          </ul>
        </li>
        <li>python 3</li>
        <li>python 3</li>
        <li>python 3</li>
        <li>python 3</li>
        <li>python 3</li>
        <li>python 3</li>
        <li>python 3</li>
      </ul>
    </article>
  </section>

  </main>
  <footer>
    <section class="footer">
      Author : Matias henriquez
    </section>
  </footer>
</body>
</html>
