<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Air quality </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <div class="title__bundle">
      <img id="image" src="/static/smart.svg">
      <h1 id="title"> Air quality I.O.T system </h1>
    </div>
    <div class="nav__bar">
      <nav>
        <ul id="menu__bar">
          <li><a href="database">database</a></li>
          <li><a href="dashboard">dashboard</a></li>
          <li><a href="about"> about</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
  <section>
    <article class="">
      <p style="color:white;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
       </p>
    </article>
  </section>

  </main>
  <footer>
    <section class="footer">
      about
    </section>
  </footer>
</body>
</html>
